<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="style.css">
    <title>about</title>
</head>
<body style="font-size: small;" >
    <p> 
    <i>රාජ්‍ය සේවයේ පළපුරුදු ,හිටපු  ක්ෂේත්‍ර නිලධාරියකු විසින් සිදු කරනු ලබන  ව්‍යාපෘතියකි.</i><br><br>
 
    <b>කරන ලද ව්‍යාපෘතීන්  :-</b>
    <ul>
      <li>කලුතර කුරුඳු  වගාව ( අක්.  17 )</li>
      <li>ජාඇල ,බටගම කුරුඳු වගාව ( අක්. 50 )</li>
      <li>මග්ගොන කුරුඳු වගාව ( අක්.  15 )</li>         
    </ul>

    </p>
    <center>
    
        <img src="Pic3.gif" style="width: 400px;height: 400px;">            
               
        <img src="pic2.gif" style="width: 400px;height: 400px;">     

        <img src="pic2.gif" style="width: 400px;height: 400px;">  
        <img src="pic2.gif" style="width: 400px;height: 400px;">  
                
       <!-- <img src="pic1.gif" style="width: device-width;">-->
        
    
    </center>

    <!--<a href="https://drive.google.com/file/d/1nKROBfTGcPu1Q8dmdkpOXBl26h0qGb6Y/view?usp=sharing" style="width: 20px;height: 20px;">pic</a>
    <a href="https://drive.google.com/file/d/1nKROBfTGcPu1Q8dmdkpOXBl26h0qGb6Y/view?usp=sharing">picture</a>
   <a href="http://www.youtube.com/"> youtube </a>
   <a href="http://nie.lk/">nie</a>-->
  

   
</body>
</html>