<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="style.css">
    <title>about</title>
</head>
<body style="font-size: small;" >
    <p> (රාජ්‍ය සේවයේ පළපුරුදු ,හිටපු ක්ෂේත්‍ර නිලධාරියෙකි.)</p>
    <center>
    
        <img src="pic3.gif" style="width: 300px;height: 300px;" caption="bbbbbb">            
               
        <img src="pic1.gif" style="width: 300px;height: 300px;">      
                
        <img src="pic1.gif" style="width: 300px;height: 300px;">
        
    
    </center>

    <!--<a href="https://drive.google.com/file/d/1nKROBfTGcPu1Q8dmdkpOXBl26h0qGb6Y/view?usp=sharing" style="width: 20px;height: 20px;">pic</a>
    <a href="https://drive.google.com/file/d/1nKROBfTGcPu1Q8dmdkpOXBl26h0qGb6Y/view?usp=sharing">picture</a>
   <a href="http://www.youtube.com/"> youtube </a>
   <a href="http://nie.lk/">nie</a>-->
  

   
</body>
</html>