<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
</head>
<body style="background-color: rgb(188, 189, 142);" height="30">
    <!--<p style="color:aqua;font-size: 12px ;" align="center">කෘෂි කාර්මික සේවය</p>-->
    
    <br>

    <a href="https://www.facebook.com"><img src="fblo.gif" style="width: 20px;height: 20px;"></a>
    <a href="mailto:ldnjayasekara2020@gmail.com?cc=kamalpremalal@gmail.com&bcc=aggupremalal@mail.com&subject="" &body=""><img src="eml.gif" style="width: 20px;height: 20px;"></a>
    <a href="whatsapp"><img src="whlo.gif" style="width: 20px;height: 20px;"></a>
    <!--<a href="http://kurundu.herokuapp.com/"><img src="whlo.gif" style="width: 20px;height: 20px;"></a>-->

    
</body>
</html>