<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body  class="font">
    <p ></p>අප හා සම්බන්ධ වීමට :-
        <ul><li>
            දුරකථන
            </li>
                <ul>
                    <li>0726724734</li>
                    <li>0755206315</li>
                </ul>
            <li>විද්‍යුත් තැපෑල</li>
                <ul>
                    <li><a href="mailto:ldnjayasekara2020@gmail.com?cc=kamalpremalal@gmail.com&bcc=aggupremalal@mail.com&subject="" &body="">ldnjayasekara2020@gmail.com </a></li>
                </ul>
            <li>සමාජ මාධ්‍ය</li>
                <ul>
                    <li>facebook</li>
                    <li><a href="https://www.facebook.com/govisayanaya">facebook</a></li>
                </ul>
</ul>
<p>
    

  </p>


</p>
</body>
</html>