<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css">
    <script language="javascript" src="ifra.js"></script>
         
    <link rel="images" href="views/ani.gif"> 
    <link rel="images" href="views/d.jpg">
    <link rel="images" href="views/pl.gif">
    <link rel="images" href="views/al.gif">
    <link rel="images" href="views/a2.gif">
    <link rel="images" href="views/a3.gif">
    <link rel="images" href="views/a4.gif">
    <link rel="images" href="views/a5.gif">
    <link rel="images" href="views/a6.gif">
    <link rel="images" href="views/a7.gif">
    <link rel="images" href="views/a8.gif">
    <link rel="images" href="views/a9.gif">
    <link rel="images" href="views/a10.gif">
    <link rel="images" href="views/a11.gif">
    <link rel="images" href="views/a12.gif">
    <link rel="images" href="views/a13.gif">
    <link rel="images" href="views/arl.gif">
    <link rel="images" href="views/arr.gif">
</head>
<body onload="alvis()" style="height:100px;"  >
    
   <!--<img src="cinlogo.gif" name="box1" style="width: 250px;height: 200px;" >       -->
    
    <div style="background-color: rgb(5, 54, 5);color: rgb(202, 238, 205);margin-top:0px;">
                
        <div style="margin-right:15%;margin-left: 15%;" >
               <center style="color:rgb(5, 54, 5)"> .</center><br>
        <p>       
               <b>ඔබගේ ඵලදායි නොවන ඉඩමේ කුරුඳු වගා කර නව ආදායම් මාර්ගයක් උදා කර ගැනීමට අවස්ථාවක් ........
           <br>මේ සඳහා,</b>
        </p>
           <ul class="font">
                <li>යෙදවීමට කාලය නොමැති</li>
                <li>ශ්‍රමය සපයා ගැනීමට දුෂ්කර</li>
                <li>පැල, පොහොර ආදී යෙදවුම් සපයා ගැනීමට අපහසු</li>
            </ul>
        <p>
            <i> ඔබ සඳහා සහාය අපෙන්....</i>
        </p>
                <center style="color:rgb(5, 54, 5)"> .</center><br>
        </div>
        </div>
           
        <div>        
        <p>
        ශ්‍රී ලංකාවේ සම්භවය වී ඇති කුරුඳු  ශාකය ,පොලොන්නරු යුගයේ පටන් අපනයනයද 
        සිදු කර ඇති බවට සාක්ෂි හමු වී ඇත .
        සත්‍ය කුරුඳු හා කැසියා කුරුඳු ලෝක වෙළෙඳ පොළේ ප්‍රචලිත කුරුඳු විශේෂ දෙකකි .
        සත්‍ය කුරුඳු වලට ආදේශකයක් වන කැසියා කුරුඳු වල ගුණාත්මය අඩු වන අතර, 
        පිළිකා කාරක රසායනයක් වන coumarin ප්‍රතිශතය ද අධික ය .
        එම නිසා ශ්‍රී ලංකාවේ කුරුඳු වගාවට හොඳ ඉල්ලුමක් මෙන් ම හොඳ  අනාගතයක් ද ඇත. 
        දිනෙන් දින  ඉල්ලුම වැඩිවන සත්‍ය කුරුඳු සැපයුම්  ප්‍රමුඛයා වන්නේ ශ්‍රී ලංකාවයි .
        බෝ නොවන රෝග වලක්වා ගැනීම  සඳහා කුරුඳු අඩංගු පාන වර්ග ලොව පුරා 
        ප්‍රචලිත වෙමින් ඇත .
        දේශීය වෙළඳපොළ තුළ ද කුරුඳු තේ වැනි පාන වර්ග වලට වැඩි ඉල්ලුමක් ඇත .<br><br>
        </P>
        </div>
    <center>
    <img src="1b.gif" name="box1" style="width: 250px;height: 200px;" onmousemove="mov1()" onmouseout="mor()"> 
    <img src="2b.gif" name="box2" style="width: 250px;height: 200px;" onmousemove="mov2()" onmouseout="mor()"> 
    <img src="3b.gif" name="box3" style="width: 250px;height: 200px;" onmousemove="mov3()" onmouseout="mor()">    
    <img src="4b.gif" name="box4" style="width: 250px;height: 200px;" onmousemove="mov4()" onmouseout="mor()">
    <img src="5b.gif" name="box5" style="width: 250px;height: 200px;" onmousemove="mov5()" onmouseout="mor()">
    <img src="6b.gif" name="box6" style="width: 250px;height: 200px;" onmousemove="mov6()" onmouseout="mor()">
    <img src="7b.gif" name="box7" style="width: 250px;height: 200px;" onmousemove="mov7()" onmouseout="mor()">
    <img src="8b.gif" name="box8" style="width: 250px;height: 200px;" onmousemove="mov8()" onmouseout="mor()">
    <img src="9b.gif" name="box9" style="width: 250px;height: 200px;" onmousemove="mov9()" onmouseout="mor()">
    <img src="10b.gif" name="box10" style="width: 250px;height: 200px;" onmousemove="mov10()" onmouseout="mor()">
    <img src="11b.gif" name="box11" style="width: 250px;height: 200px;" onmousemove="mov11()" onmouseout="mor()">
    <img src="12b.gif" name="box12" style="width: 250px;height: 200px;" onmousemove="mov12()" onmouseout="mor()">
    <img src="13b.gif" name="box13" style="width: 250px;height: 200px;" onmousemove="mov13()" onmouseout="mor()"></center>

   <!--<img src="a.jpg" alt="a" title="කුරුඳු මල" class="size" >-->
   <!--<img src="b.jpg" alt="b" title="කුරුඳු පොතු හා කුරුඳු තෙල්" class="size">-->
   <!--<img src="c.jpg" alt="c" title="කුරුඳු මිටි" class="size">-->
   <!--<center><img src="ani.gif" alt="d" title="කුරුඳු වගාව" class="size"></center>-->
  
   <!--<center><table wrap ="divice-width" >
       <tr >
           <td style="width:600px; background-image:url(bg.gif);"></td>
           <td ><img src="arl.gif" id="al"  style="width:10px; height: 30px;"  onclick="goback()"></td>
           <td><center><img src="cinlogo.gif" name="box1" style="width: 250px;height: 200px;" ></img></center></td>
           <td><img src="arr.gif" id="ar"  width="10" height="30" onclick="gofront()"></td>
           <td style="width:600px; background-image:url(bg.gif);"></td>
       </tr>
       <tr>
            <td></td>
           <td></td>
           <td><div id="box2" style="text-align: center;color:rgb(241, 239, 248);background-color: rgb(50, 24, 145);" class="font1"><center>ඉඩමක් තෝරා ගැනීම</center></div></td>
           <td></td>
           <td></td>
        </tr>
   </table></center>-->
  
  
   <!--<td><center><img name="box1" style="width: 200px;height: 180px;"></img></center></td>-->
   <!--<img src="c.jpg" alt="c" title="කුරුඳු මිටි" width="20" height="20">
   <center><img src="pl.gif" alt="d" title="බිම් සැකසීම" class="size"></center>-->
    





<div>
<p>
 <b>කුරුඳු වගාවේ වාසි :-</b>
 <ul class="font">
    <li>කුරුදු වගාවේ මුල් වසර දෙක තුළ අතුරු වගාවක් ලෙස කෙටි කාලීන බෝග වගා කිරීමට හැකි වීම </li>
    <li>අස්වනු නෙලීම හා සැකසීම වසරකට දෙවරක් පමණ නිසා ශ්‍රම අවශ්‍යතාව අඩු යි </li>
    <li>ශුෂ්ක පරිසර තත්ත්වයන්ට ඔරොත්තු දේ </li>
    <li>මෙරට තුළ සම්ප්‍රදායික හොඳ  වෙළඳ පලක් ඇත </li>
    <li>මිල විචල්‍යතාවය සාපේක්ෂව අවමයි </li>
    <li>නිතර සිදු කළ යුතු නඩත්තු කටයුතු අඩු යි </li>
    <li>වසර සීයක් පමණ පවතින බහු වාර්ෂික බෝගයක් වන කුරුඳු වගාව සඳහා යෙදිය යුතු අවධානය සාපේක්ෂව අඩුයි</li>
   
</ul>

</p> 
</div>

 
</body>
</html>